{{ define "main" }}
<main>
    <section class="hero">
		<div class="text-container">
			<h1 class="editable">Open Bullet <strong>2</strong></h1>
			<p class="subtext editable">Cross platform automation suite powered by .NET core.</p>
			<div class="cta button alt"><a id="main_download_button" href={{ "/downloads/" | relURL }}>Download</a></div>
			<div>
				<img src="/image/soft1.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
	
	<div class="content">
		<section>
			<div class="container flex">
				<div class="text editable">
					<h2>How it works?</h2>
					<p>It allows to perform requests towards a target webapp and offers a lot of tools to work with the results. This software can be used for scraping and parsing data, automated pentesting and much more.</p>
				</div>
				<div class="image">
					<img src="/image/screen1.png" alt="Screenshot" class="screenshot editable" />
				</div>
			</div>
		</section>
	
		<section>
			<div class="container flex">
				<div class="text editable">
					<h2>System requirements</h2>
					<p><b>OS</b>: Windows 7-11, Linux<br>
						<b>Cpu</b>: 2 cores<br>
						<b>Ram</b>: 2GB<br>
						<b>Disc space</b>: 10GB<br>
						<b>Install</b>: <a href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0">.Net 6 runtime</a>, <a href="https://aka.ms/vs/17/release/vc_redist.x64.exe">VC Redist 2015–2022 x64(for windows)</a>
					</p>
				</div>
				<div class="image">
					<img src="/image/soft3.jpg" alt="Screenshot" class="screenshot editable" />
				</div>
			</div>
		</section>
	
		<section>
			<div class="container flex">
				<div class="text editable">
					<h2>Donate</h2>
					<p>If you like this software, consider making a donation to the developer. Thank you!<br>
						<b>BTC</b>: <font size="4">39yMkox6pP8tnSC7rZ5EM4nUUHgPbg1fKM</font><br>
						<b>ETH</b>: <font size="4">0xc22116Bcf6c30977bEdFcc03C5B6aAe90B0fD179</font><br>
						<b>BCH</b>: <font size="4">qq02mrtdp454g2zdu534ndpu7jgcr3tvavyzs60m3p</font>
					</p>
				</div>
				<div class="image">
					<img src="/image/screen1.png" alt="Screenshot" class="screenshot editable" />
				</div>
			</div>
		</section>
	
		<section class="testimonial">
			<div class="container flex">
				<div class="testimonial-block">
					<div class="square-image"><img src="/image/favicon2.jpg" alt="Ruri" class="editable"></div>
					<blockquote>
						<p>Ruri - Creator of OpenBullet</p>
						<p class="editable author">Performing (D)DoS attacks or credential stuffing on sites you do not own  (or you do not have permission to test) is illegal! The developer will not be held responsible for improper use of this software.</p>
					</blockquote>
				</div>
			</div>
		</section>
	
		<section class="bottom-cta">
			<h2 class="editable">This website is open sourse too!</h2>
			<div class="button alt"><a href="https://github.com/openbullet2/openbullet2.github.io">Github website</a></div>
		</section>
	</div>

</main>
<script>
	function get_os(){
		let platform = navigator.platform;
		if (platform.includes("Linux")){
			return "lin"
		} else if (platform.includes("Windows")){
			return "win"
		} else if (platform.includes("Mac OS X")){
			return "mac"
		} else {
			return "???"
		}
	}
	links = {"win":"https://github.com/openbullet/OpenBullet2/releases/latest/download/OpenBullet2.Native.zip",
		"lin":"https://github.com/openbullet/OpenBullet2/releases/latest/download/OpenBullet2.zip",
		"mac":"https://github.com/openbullet/OpenBullet2/releases/latest/download/OpenBullet2.zip",
		"???":"/downloads/"
	}
	os = get_os();
	console.log(os,links[os]);
	var link = document.getElementById("main_download_button");
	link.setAttribute("href", links[os]);
</script>
{{ end }}